
<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=148554715762522';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- share this -->
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a01226541ee1400128ea2bc&product=inline-share-buttons"></script>

<!-- copy to clipboard -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<script type="text/javascript">
  new Clipboard('#copy-email');

  document.querySelectorAll('[data-tooltip]').forEach(function (tooltip) {
    tooltip.addEventListener('click', function () {
      var self = this;

      if (!self.classList.contains('show-tooltip')) {
        self.classList.add('show-tooltip');

        setTimeout(function () {
          self.classList.remove('show-tooltip');
        }, 3000);
      }
    });
  });
</script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36862310-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36862310-1');
</script>
