
<div class="escape-hatch" id="menu">
  <a class="open-menu" href="#menu"><svg width="60px" height="60px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ssdc-logo"></use></svg></a>
  <a class="close-menu" href="#"><svg width="60px" height="60px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ssdc-logo"></use></svg></a>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
