
<title>ScottStadt.com{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta property="fb:app_id" content="148554715762522" />
<meta property="og:url" content="https://www.scottstadt.com{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title and page.permalink != '/' %}{{ page.title }} - {% endif %}ScottStadt.com" />
<meta property="og:image" content="{{ site.s3_url }}{{ page.thumbnail }}" />
<meta property="og:site_name" content="ScottStadt.com" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
