
<title>ScottStadt.com{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta property="fb:app_id" content="148554715762522" />
<meta property="og:url" content="https://www.scottstadt.com{{ route }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="ScottStadt.com{% if page.title %} - {{ page.title }}{% endif %}" />
<meta property="og:image" content="{{ site.s3_url }}{{ page.thumbnail }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abel|Ubuntu:300,400i,700,700i" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
<link rel="stylesheet" href="/css/style.css" />
