

// Colors
// ----------------------------------

$pink: #ffedf0;
$scarlet: #e43b2c;

$transparent-black: rgba(0,0,0,.6);
$transparent-white: rgba(255,255,255,.6);
$transparent-gray: rgba(0,0,0,.1);
$transparent-red: rgba(202, 13, 13, 0.64);

$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

// $off-white: #f3f3f9;
$off-white: #fafaff;
$charcoal: #282c34;
$gray-light: #bbb;


// Typeography
// ----------------------------------

$base-font-color: black;

$body-font-family: "Ubuntu", sans-serif;
$header-font-family: "Abel", sans-serif;

$base-font-size: 16;

$p-font-size: 16;
$p-small-font-size: 18;

$h1-font-size: 82;
$h2-font-size: 40;
$h3-font-size: 32;
$h4-font-size: 25;
$h5-font-size: 20;
$h6-font-size: 16;

$h1-small-font-size: 40;
$h2-small-font-size: 32;
$h3-small-font-size: 28;
$h4-small-font-size: 25;
$h5-small-font-size: 20;
$h6-small-font-size: 16;

$h1-content-font-size: 40;
$h2-content-font-size: 35;
$h3-content-font-size: 33;
$h4-content-font-size: 30;
$h5-content-font-size: 26;
$h6-content-font-size: 22;

$h1-small-content-font-size: 45;
$h2-small-content-font-size: 40;
$h3-small-content-font-size: 35;
$h4-small-content-font-size: 32;
$h5-small-content-font-size: 30;
$h6-small-content-font-size: 28;

$content-type-mod: 1.3;


// Breakpoints
// ----------------------------------

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;


// Document
// ----------------------------------

$body-bg: #fff;

$overlay-bg: $transparent-black;

$transition-duration: 0.3s;

$global-gutter: 30px; // page padding
$global-padding: 1rem; // content padding
$global-radius: 4px; // global border-radius

$content-width: 960px;
$header-width: 1280px;

$footer-bg: $charcoal;
$footer-anchor-color: #a7b3d8;

$info-bg: #eaeaf7;
$info-border: darken($info-bg, 5%);
$warning-bg: #fbf4c1;
$warning-border: darken($warning-bg, 20%);


// Nav
// ----------------------------------

$nav-link-font-size: 40;


// Buttons
// ----------------------------------

$button-bg-default: transparent;
$button-bg-default-hover: $transparent-gray;
$button-bg-primary: $primary;
$button-bg-primary-hover: $primary;

$button-color-default: black;
$button-color-primary: white;

$pill-bg: $primary;
$pill-color: white;



// Forms
// ----------------------------------

$input-border: #ccc;


// Syntax Highlighting - Dark
// ----------------------------------

// $code-highlight-bg: #282c34;
// $code-highlight-color: #abb2bf;
//
// $sx-bg: $code-highlight-bg;
// $sx-color: $code-highlight-color;
//
// $sx-default-color: #9b869c;
// $sx-comment-color: #5c6370;
//
// $sx-error-color: #a61717;
// $sx-error-bg: #e3d2d2;
//
// $sx-generic-error-color: #aa0000;
// $sx-generic-inserted-color: #ddffdd;
// $sx-generic-inserted-specific-bg: #aaffaa;
// $sx-generic-deleted-bg: #ffdddd;
// $sx-generic-deleted-specific-bg: #ffdddd;
// $sx-generic-output-color: #888;
// $sx-generic-prompt-color: #555;
// $sx-generic-subheading-color: #aaa;
// $sx-generic-traceback-color: #aa0000;
//
// $sx-keyword-type-color: #445588;
// $sx-keyword-declaration: #cd65df;
//
// $sx-literal-number: #cd9765;
// $sx-literal-string: #95c077;
// $sx-literal-regex: #56b6c2;
// $sx-literal-symbol: #ee5860;
//
// $sx-name-global: #abb2bf;
// $sx-name-attribute: #d19a66;
// $sx-name-bulletin: #abb2bf;
// $sx-name-class: #cd9765;
// $sx-name-entity: #cd9765;
// $sx-name-function: #61afef;
// $sx-name-namespace: #cd9765;
// $sx-name-tag: #db6a73;
//
// $sx-whitespace: #bbbbbb;


// Syntax Highlighting - Light
// ----------------------------------

$code-highlight-bg: $off-white;
$code-highlight-color: $charcoal;

$sx-bg: $code-highlight-bg;
$sx-border: darken($sx-bg, 5%);
$sx-color: $code-highlight-color;

$sx-default-color: #9b869c;
$sx-comment-color: #b9b9b9;

$sx-error-color: #a61717;
$sx-error-bg: #e3d2d2;

$sx-generic-error-color: #aa0000;
$sx-generic-inserted-color: #ddffdd;
$sx-generic-inserted-specific-bg: #aaffaa;
$sx-generic-deleted-bg: #ffdddd;
$sx-generic-deleted-specific-bg: #ffdddd;
$sx-generic-output-color: #888;
$sx-generic-prompt-color: #555;
$sx-generic-subheading-color: #aaa;
$sx-generic-traceback-color: #aa0000;

$sx-keyword-type-color: #c75322;
$sx-keyword-declaration: #b237c7;

$sx-literal-number: #00a910;
$sx-literal-string: #00a910;
$sx-literal-regex: #56b6c2;
$sx-literal-symbol: #000;

$sx-name-global: #abb2bf;
$sx-name-attribute: #c75322;
$sx-name-bulletin: #000;
$sx-name-class: #445587;
$sx-name-entity: #445587;
$sx-name-function: #61afef;
$sx-name-namespace: #445587;
$sx-name-tag: #454dd2;

$sx-whitespace: #bbbbbb;
