
ul {
  padding: 0;

  li {
    list-style: none;
    padding: 0;
  }
}

.article-list {
  .column > a {
    color: $base-font-color;
    position: relative;
    display: inline-block;

    &:hover, &:focus {
      border-bottom: 0;
      color: $base-font-color;

      h1, h2, h3, h4, h5, h6 {
        border-bottom: 1px;
      }

      &:after {
        opacity: 1;
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:before {
      background: linear-gradient(4deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    }

    &:after {
      transition: all 0.3s ease;
      opacity: 0;
      background: linear-gradient(4deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    }

    img {
      margin: 0;
    }

    .heading {
      position: absolute;
      z-index: 1;
      bottom: 20px;
      left: 0;
      color: white;
      font-size: rem-calc(28);
      margin: 0;
      padding: 0 20px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    }
  }
}

.externals {
  width: 100%;
  margin-bottom: 2rem;
  text-align: right;

  li {
    display: inline;
    margin-left: 1rem;
  }
}

.tech-stack {
  margin-bottom: 2rem;

  li {
    padding: 8px 16px;
    display: inline;
    margin-right: 1rem;
    padding-left: 32px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><polygon fill="#fff" points="32.504,0.016 14.809,27.35 5.14,18.726 0.67,25.516 16.316,39.984 39.33,4.432 "/></svg>');
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-color: $pill-bg;
    font-size: rem-calc(12);
    color: $pill-color;
    border-radius: 15px;
  }
}
