

@mixin phone-only {
  @media (max-width: $breakpoint-tablet - 1) { @content; }
}

@mixin tablet-up {
  @media (min-width: $breakpoint-tablet) { @content; }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) { @content; }
}

@mixin desktop-up {
  @media (min-width: $breakpoint-desktop) { @content; }
}

.show-phone {
  @include tablet-up() {
    display: none;
  }
}

.hide-phone {
  @include phone-only() {
    display: none;
  }
}

.show-tablet {
  @include phone-only() {
    display: none;
  }

  @include desktop-up() {
    display: none;
  }
}

.show-tablet-up {
  @include phone-only() {
    display: none;
  }
}

.hide-tablet {
  @include tablet-only() {
    display: none;
  }
}

.hide-tablet-up {
  @include tablet-up() {
    display: none;
  }
}

.show-desktop {
  @include phone-only() {
    display: none;
  }

  @include tablet-only() {
    display: none;
  }
}

.hide-desktop {
  @include desktop-up() {
    display: none;
  }
}
