
body {
  font-family: $body-font-family;
}

a {
  color: black;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: black;
    border-bottom: 1px solid black;
  }
}

p {
  font-size: rem-calc($p-font-size);
}

h1 {
  font-size: rem-calc($h1-font-size);
}

h2 {
  font-size: rem-calc($h2-font-size);
}

h3 {
  font-size: rem-calc($h3-font-size);
}

h4 {
  font-size: rem-calc($h4-font-size);
}

h5 {
  font-size: rem-calc($h5-font-size);
}

h6 {
  font-size: rem-calc($h6-font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: $global-padding 0;
  font-family: $header-font-family;
}
