
body {
  font-family: $body-font-family;
}

a {
  color: $scarlet;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $scarlet;
    border-bottom: 1px solid $scarlet;
  }
}

p {
  margin: $global-padding 0;
  font-size: rem-calc($p-font-size);
}

h1 {
  font-size: rem-calc($h1-font-size);
}

h2 {
  font-size: rem-calc($h2-font-size);
}

h3 {
  font-size: rem-calc($h3-font-size);
}

h4 {
  font-size: rem-calc($h4-font-size);
}

h5 {
  font-size: rem-calc($h5-font-size);
}

h6 {
  font-size: rem-calc($h6-font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: $global-padding 0;
  font-family: $header-font-family;
}

.content {
  p {
    margin: 2rem 0;
    font-size: rem-calc($p-font-size * $content-type-mod);
  }

  h1 {
    font-size: rem-calc($h1-font-size * $content-type-mod);
  }

  h2 {
    font-size: rem-calc($h2-font-size * $content-type-mod);
  }

  h3 {
    font-size: rem-calc($h3-font-size * $content-type-mod);
  }

  h4 {
    font-size: rem-calc($h4-font-size * $content-type-mod);
  }

  h5 {
    font-size: rem-calc($h5-font-size * $content-type-mod);
  }

  h6 {
    font-size: rem-calc($h6-font-size * $content-type-mod);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
