
input + .button {
  color: white;
  background-color: $scarlet;

  svg {
    fill: white;
  }

  &:hover {
    color: white;
    background-color: darken($scarlet, 10%);
  }
}

.button {
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 12px 18px;

  &:hover, &:focus {
    border-bottom: 0;
    background-color: $transparent-gray;
  }

  &:focus {
    outline: 0;
  }
}
