
input + .button, .button.primary {
  color: $button-color-primary;
  background-color: $button-bg-primary;

  svg {
    fill: $button-color-primary;
  }

  &:hover {
    color: $button-color-primary;
    background-color: darken($button-bg-primary, 10%);
  }
}

.button {
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 12px 18px;
  color: $button-color-default;
  background-color: $button-bg-default;

  svg {
    fill: $button-color-default;
  }

  &:hover, &:focus {
    outline: 0;
    border-bottom: 0;
    background-color: $button-bg-default-hover;
  }
}
