
@keyframes contentSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  animation: 0.5s ease-out 0s 1 contentSlide;
  padding-left: $global-gutter;
  padding-right: $global-gutter;

  &.wide {
    max-width: 100%;
  }

  img {
    margin-bottom: 2rem;

    &.float-right, &.float-left {
      margin-top: 10px;
    }

    &.float-right {
      margin-left: 2rem;

      @include tablet-up() {
        max-width: 40%;
      }
    }

    &.float-left {
      margin-right: 2rem;

      @include tablet-up() {
        max-width: 40%;
      }
    }
  }

  p {
    margin: 2rem 0;
    font-size: rem-calc($p-font-size * $content-type-mod);
    line-height: 2.5rem;

    &.intro {
      font-weight: bold;
      font-size: rem-calc(22);
    }
  }

  h1 {
    font-size: rem-calc($h1-content-font-size);
  }

  h2 {
    font-size: rem-calc($h2-content-font-size);
  }

  h3 {
    font-size: rem-calc($h3-content-font-size);
  }

  h4 {
    font-size: rem-calc($h4-content-font-size);
  }

  h5 {
    font-size: rem-calc($h5-content-font-size);
  }

  h6 {
    font-size: rem-calc($h6-content-font-size);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
  }
}
