
@keyframes contentSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  max-width: 960px;
  margin: 0 auto;
  animation: 0.5s ease-out 0s 1 contentSlide;

  p.intro {
    font-weight: bold;
    font-size: rem-calc(22);
  }
}
