
footer {
  background-color: #ededed;
  margin-top: $global-gutter;
  padding: $global-gutter 0;

  .content {
    display: flex;
    flex: 2;
    align-items: center;

    & > * {
      display: flex;
    }

    .avatar {
      flex-shrink: 0;
    }

    .avatar + p {
      align-self: center;
      padding-left: $global-gutter;
      font-size: rem-calc(16);
      line-height: 1.5;
      margin: 0;
    }
  }
}
