
footer {
  background-color: $footer-bg;
  margin-top: $global-gutter;
  padding: $global-gutter 0;

  .footer-content {
    display: flex;
    padding: 0 $global-gutter;
    color: $body-bg;
    max-width: $content-width;
    margin: 0 auto;

    @media (max-width: #{$breakpoint-tablet - 1}) {
      flex-wrap: wrap;
    }

    .social-links {
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 15px;
        }

        a:hover {
          border-bottom: none;
        }

        a, svg {
          height: 24px;
          width: 24px;
        }

        svg {
          fill: $body-bg;
        }
      }
    }

    .avatar {
      flex-shrink: 0;
    }

    .description {
      @media (max-width: #{$breakpoint-tablet - 1}) {
        flex-basis: 100%;
      }

      @media (min-width: #{$breakpoint-tablet}) {
        padding-left: $global-gutter;
      }
    }
  }
}
