
header {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: $global-gutter;
  position: relative;
  min-height: 65vh;

  @include phone-only {
    background-position: 25% center;

    h1 {
      font-size: rem-calc($h1-content-font-size);
    }
  }

  .header-image {
    bottom: 0;
    position: absolute;

    @include tablet-up() {
      right: 50%;
      max-height: 80%;
      max-width: 50%;
    }

    @include desktop-up() {
      transform: translateX(-5vw);
    }
  }

  .header-content {
    margin: 0 auto;
    width: $header-width;
    max-width: 100%;
    padding-left: $global-gutter / 2;
    padding-right: $global-gutter / 2;

    @include phone-only() {
      margin-top: 120px;
      margin-bottom: 0;
    }

    @include tablet-up() {
      margin: 25vh 0 15vh;
      padding-left: 50%;
    }

    .nav a {
      color: black;

      &:hover {
        color: black;
        border-color: black;
      }
    }

    &.light {
      h1 {
        color: white;
      }

      .nav a {
        color: white;

        &:hover {
          color: white;
          border-color: white;
        }
      }

      .escape-hatch {
        svg {
          fill: white;
        }

        .menu li a {
          color: white;

          &:hover, &:focus {
            color: black;
            background-color: white;
          }

          @include phone-only() {
            background-color: $transparent-black;
          }
        }
      }
    }
  }
}
