
.escape-hatch {
  position: absolute;
  top: 0;
  padding-top: $global-gutter;
  z-index: 1;

  @include phone-only() {
    right: $global-gutter;

    & > a {
      @include clearfix();

      svg {
        float: right;
      }
    }

    .menu {
      padding-top: 4px;

      a {
        text-align: right;
        background-color: $transparent-white;
      }
    }
  }

  @include tablet-up() {
    left: $global-gutter;
  }

  & > a {
    opacity: 0.9;
    transition: all 0.3s ease;

    @include desktop-up() {
      opacity: 0.65;
    }
  }

  &:target > a {
    opacity: 0.9;
  }

  a:hover, a:focus {
    border-bottom: 0;
  }

  &:not(:target) .menu {
    opacity: 0;
    height: 0;
    margin: 0;
    transform: translateY(-20px);
    pointer-events: none;
  }

  &:target .open-menu {
    display: none;
  }

  &:not(:target) .close-menu {
    display: none;
  }

  .menu {
    z-index: 1;
    opacity: 1;
    transition: all 0.3s ease;
    margin: 0;
    padding-top: 10px;

    li a {
      opacity: 0.9;
      display: block;
      color: black;
      padding: 8px 16px;
      transition: all 0.3s ease;

      &:hover, &:focus {
        color: white;
        background-color: black;
      }
    }
  }
}
