
.modal {
  opacity: 0;
  transition: all 0.3s ease;

  p {
    margin: 1rem 0;
  }

  .overlay {
    display: block;
    cursor: default;
    background: $overlay-bg;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &:hover {
      border: 0;
    }
  }

  &:not(:target) {
    pointer-events: none;
  }

  &:target {
    opacity: 1;

    .modal-dialog {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
}

.modal-dialog {
  z-index: 11;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 460px;
  max-width: 100%;
  padding: $global-gutter;
  border-radius: $global-radius;
  transform: translateX(-50%) translateY(-50%) scale(1.5);
  transition: all 0.3s ease;
  background-color: $body-bg;
  margin: 0 $global-gutter / 2;

  h2 {
    padding-right: 40px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 8px;
    color: black;
    font-size: rem-calc(30);

    &:hover {
      color: black;
      border: none;
    }
  }
}
