
$tooltip-arrow-size: 6px;

[data-tooltip] {
  position: relative;

  &:after {
    content: attr(data-tooltip);
    display: block;
    bottom: -2px;
    background-color: black;
    padding: 8px;
    font-size: rem-calc(12);
    border-radius: $global-radius;
    text-transform: none;
  }

  &:before {
    content: "";
    height: 0;
    width: 0;
    border-left: $tooltip-arrow-size solid transparent;
    border-right: $tooltip-arrow-size solid transparent;
    border-bottom: $tooltip-arrow-size solid black;
    bottom: $tooltip-arrow-size - 2;
  }

  &:after, &:before {
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 50%;
    pointer-events: none;
    transition: 0.3s all ease;
    transform: translateX(-50%) translateY(50%);
  }

  &.show-tooltip {
    &:after, &:before {
      opacity: 1;
      transform: translateX(-50%) translateY(100%);
    }
  }
}
