
<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
  </head>

  <body>
    {% include icons.html %}

    <header style="background-image: url({{ site.s3_url }}{{ site.posts[0].heroImage }});">
      <div class="header-content {% if site.posts[0].lightNav %}light{% endif %}">
        {% include menu.html %}
        <h1>{{ site.posts[0].title }}.</h1>

        <ul class="nav">
          <li><a href="{{ site.posts[0].url }}">Read!</a></li>
        </ul>
      </div>
    </header>

    <div class="content wide">
      {{ content }}
    </div>

    {% include javascript.html %}

  </body>

</html>
