
<!DOCTYPE html>
<html>
  <head>
    {% include meta-post.html %}
    {% include styles.html %}
  </head>

  <body>
    {% include icons.html %}
    {% include header-basic.html %}

    <div class="content">
      <h1 class="mb-0">{{ page.title }}</h1>
      {% comment %}<p class="date mt-0">{{ page.date | date: "%b %-d, %Y" }}</p>{% endcomment %}
      <p class="mt-0"><a href="/" alt="Home">back</a></p>
      {{ content }}
      <div class="sharethis-inline-share-buttons"></div>
      <div class="fb-comments" data-href="https://www.scottstadt.com{{ page.url }}" data-numposts="10"></div>
    </div>


    {% include footer.html %}
    {% include javascript.html %}

  </body>

</html>
