
<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
  </head>

  <body {% if page.fullHero %}class="full" style="background-image: url({{ site.s3_url }}{{ page.heroImage }});"{% endif %}>
    {% include icons.html %}

    <header {% if page.fullHero %}class="mb-0"{% endif %} {% if page.fullHero != true %}style="background-image: url({{ site.s3_url }}{{ page.heroImage }});"{% endif %}>
      <div class="header-content {% if page.lightNav %}light{% endif %}">
        {% include menu.html %}
        <h1>{{ page.title }}.</h1>

        <ul class="nav">
          {% for link in page.links %}
            <li><a href="{{ link.route }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if page.headerImage %}<img src="{{ site.s3_url }}{{ page.headerImage }}" class="header-image" />{% endif %}
    </header>

    <div class="content {% if page.isPost %}post{% endif %} {% if page.wide %}wide{% endif %}">
      {{ content }}
    </div>

    <!-- <footer class="content">
      <p class="footer-copyright">&copy; Scott Stadt 2016</p>
      <ul class="footer-links inline float-right">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer> -->

    {% include javascript.html %}

  </body>

</html>
