
<!DOCTYPE html>
<html>
  <head>
    <title>ScottStadt.com{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:url" content="https://www.scottstadt.com{{ route }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ScottStadt.com{% if page.title %} - {{ page.title }}{% endif %}" />
    <meta property="og:image" content="{{ page.thumbnail }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="description" content="{{ page.description }}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Ubuntu:300,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body {% if page.fullHero %}class="full" style="background-image: url({{ page.heroImage }});"{% endif %}>
    {% include icons.html %}

    <div class="header {% if page.fullHero %}mb-0{% endif %}" {% if page.fullHero != true %}style="background-image: url({{ page.heroImage }});"{% endif %}>
      <div class="header-content {% if page.lightNav %}light{% endif %}">
        <h1>{{ page.title }}.</h1>

        <ul class="nav">
          {% for link in page.links %}
            <li><a href="{{ link.route }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="content {% if page.isPost %}post{% endif %}">
      {{ content }}
    </div>

  </body>

</html>
